rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permite la lectura de anuncios a CUALQUIERA.
    // Permite la escritura (crear, editar) SOLO a usuarios autenticados.
    match /listings/{listingId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Permite a los usuarios autenticados leer y escribir en CUALQUIER perfil.
    // Esto es temporal para asegurar que el inicio de sesión funcione.
    match /users/{userId} {
       allow read, write: if request.auth != null;
    }
  }
}